.a{
	width: 100%;}
form{
	top: 400px;
	text-align: center;}
.aa{
	width:1100px;
	height: 300px;}
.push:hover{
	background-color: lightgrey;
border-radius: 7px}
.puw:hover{
	background-color: skyblue;
border-radius: 7px;}
.img{
	width: 30%;
	height: 200px;}
.f{padding: 20px;
	margin: 20px;
	width: 50%;
	border-radius: 7px;
	border: solid grey;
}